# General filetypes to ignore
Desktop.ini
*.zip
*.bak
*.log

# Resource Packs
!/resourcepacks/*.zip

# Datapacks
!/config/openloader/*/*.zip

# Minecraft Configurations
/config/byg/backups/
/config/inventoryprofilesnext/*/
!/config/inventoryprofilesnext/integrationHints/
/config/jecalculation/data/
/config/jecalculation/record.json
/config/jei/*/
/config/Mekanism/client.toml

# Directory rules
kubejs/*
kubejs/config/probejs.json
!/kubejs/README.txt
!/kubejs/assets/
!/kubejs/client_scripts/
!/kubejs/config/
!/kubejs/server_scripts/
!/kubejs/startup_scripts/
logs/
saves/
local/ftbchunks/*
!local/ftbchunks/client-config.snbt
local/kubejs/*
!local/kubejs/dev.properties
