# Format for tag conversion (all items in tag `namespace:tag/name` will be converted to destination item `modid:item`):
# namespace:tag/name=modid:item
# Format for direct item conversion (the item `modid:sourceitem` will be converted to `modid:destitem`):
# modid:sourceitem>modid:destitem

# Ores
# Minecraft
forge:ores/iron=minecraft:iron_ore
forge:ores/gold=minecraft:gold_ore
forge:ores/lapis=minecraft:lapis_ore
forge:ores/diamond=minecraft:diamond_ore
forge:ores/emerald=minecraft:emerald_ore
# Thermal
forge:ores/apatite=thermal:apatite_ore
forge:ores/cinnabar=thermal:cinnabar_ore
forge:ores/niter=thermal:niter_ore
forge:ores/sulfur=thermal:sulfur_ore
forge:ores/copper=thermal:copper_ore
forge:ores/tin=thermal:tin_ore
forge:ores/lead=thermal:lead_ore
forge:ores/silver=thermal:silver_ore
forge:ores/nickel=thermal:nickel_ore
# Mekanism
forge:ores/uranium=mekanism:uranium_ore
forge:ores/osmium=mekanism:osmium_ore
forge:ores/fluorite=mekanism:fluorite_ore
# Immersive Engineering
forge:ores/aluminum=immersiveengineering:ore_aluminum

# Dusts
# Thermal
forge:dusts/wood=thermal:sawdust
forge:dusts/apatite=thermal:apatite_dust
forge:dusts/cinnabar=thermal:cinnabar_dust
forge:dusts/niter=thermal:niter_dust
forge:dusts/sulfur=thermal:sulfur_dust
forge:dusts/ender_pearl=thermal:ender_pearl_dust
forge:dusts/iron=thermal:iron_dust
forge:dusts/gold=thermal:gold_dust
forge:dusts/lapis=thermal:lapis_dust
forge:dusts/diamond=thermal:diamond_dust
forge:dusts/emerald=thermal:emerald_dust
forge:dusts/quartz=thermal:quartz_dust
forge:dusts/copper=thermal:copper_dust
forge:dusts/tin=thermal:tin_dust
forge:dusts/lead=thermal:lead_dust
forge:dusts/silver=thermal:silver_dust
forge:dusts/nickel=thermal:nickel_dust
forge:dusts/bronze=thermal:bronze_dust
forge:dusts/electrum=thermal:electrum_dust
forge:dusts/invar=thermal:invar_dust
forge:dusts/constantan=thermal:constantan_dust
forge:dusts/signalum=thermal:signalum_dust
forge:dusts/lumium=thermal:lumium_dust
forge:dusts/enderium=thermal:enderium_dust
# Mekanism
forge:dusts/steel=mekanism:dust_steel
forge:dusts/lithium=mekanism:dust_lithium
forge:dusts/refined_obsidian=mekanism:dust_refined_obsidian
forge:dusts/salt=mekanism:salt
forge:dusts/obsidian=mekanism:dust_obsidian
forge:dusts/fluorite=mekanism:dust_fluorite
mekanism:dirty_dusts/iron=mekanism:dirty_dust_iron
mekanism:dirty_dusts/gold=mekanism:dirty_dust_gold
mekanism:dirty_dusts/osmium=mekanism:dirty_dust_osmium
mekanism:dirty_dusts/copper=mekanism:dirty_dust_copper
mekanism:dirty_dusts/tin=mekanism:dirty_dust_tin
mekanism:dirty_dusts/lead=mekanism:dirty_dust_lead
mekanism:dirty_dusts/uranium=mekanism:dirty_dust_uranium
# Botania
forge:dusts/mana=botania:mana_powder
# Blood Magic
bloodmagic:dusts/corrupted=bloodmagic:corrupted_dust
bloodmagic:tiny_dusts=bloodmagic:corrupted_tinydust
forge:dusts/hellforged=bloodmagic:sand_hellforged
# Immersive Engineering
forge:dusts/coal_coke=immersiveengineering:dust_coke
forge:dusts/hop_graphite=immersiveengineering:dust_hop_graphite
forge:dusts/aluminum=immersiveengineering:dust_aluminum

# Plates
# Thermal
forge:plates/iron=thermal:iron_plate
forge:plates/gold=thermal:gold_plate
forge:plates/copper=thermal:copper_plate
forge:plates/tin=thermal:tin_plate
forge:plates/lead=thermal:lead_plate
forge:plates/silver=thermal:silver_plate
forge:plates/nickel=thermal:nickel_plate
forge:plates/bronze=thermal:bronze_plate
forge:plates/electrum=thermal:electrum_plate
forge:plates/invar=thermal:invar_plate
forge:plates/constantan=thermal:constantan_plate
forge:plates/signalum=thermal:signalum_plate
forge:plates/lumium=thermal:lumium_plate
forge:plates/enderium=thermal:enderium_plate
# Immersive Engineering
forge:plates/uranium=immersiveengineering:plate_uranium
forge:plates/aluminum=immersivengineering:plate_aluminum

# Gears
# Thermal
forge:gears/iron=thermal:iron_gear
forge:gears/gold=thermal:gold_gear
forge:gears/lapis=thermal:lapis_gear
forge:gears/diamond=thermal:diamond_gear
forge:gears/emerald=thermal:emerald_gear
forge:gears/quartz=thermal:quartz_gear
forge:gears/copper=thermal:copper_gear
forge:gears/tin=thermal:tin_gear
forge:gears/lead=thermal:lead_gear
forge:gears/silver=thermal:silver_gear
forge:gears/nickel=thermal:nickel_gear
forge:gears/bronze=thermal:bronze_gear
forge:gears/electrum=thermal:electrum_gear
forge:gears/invar=thermal:invar_gear
forge:gears/constantan=thermal:constantan_gear
forge:gears/signalum=thermal:signalum_gear
forge:gears/lumium=thermal:lumium_gear
forge:gears/enderium=thermal:enderium_gear

# Nuggets
# Thermal
forge:nuggets/copper=thermal:copper_nugget
forge:nuggets/tin=thermal:tin_nugget
forge:nuggets/lead=thermal:lead_nugget
forge:nuggets/silver=thermal:silver_nugget
forge:nuggets/nickel=thermal:nickel_nugget
forge:nuggets/bronze=thermal:bronze_nugget
forge:nuggets/electrum=thermal:electrum_nugget
forge:nuggets/invar=thermal:invar_nugget
forge:nuggets/constantan=thermal:constantan_nugget
forge:nuggets/signalum=thermal:signalum_nugget
forge:nuggets/lumium=thermal:lumium_nugget
forge:nuggets/enderium=thermal:enderium_nugget
# Minecraft
forge:nuggets/gold=minecraft:gold_nugget
forge:nuggets/iron=minecraft:iron_nugget
# Botania
forge:nuggets/manasteel=botania:manasteel_nugget
forge:nuggets/terrasteel=botania:terrasteel_nugget
forge:nuggets/elementium=botania:elementium_nugget
# Mekanism
forge:nuggets/uranium=mekanism:nugget_uranium
forge:nuggets/refined_obsidian=mekanism:nugget_refined_obsidian
forge:nuggets/refined_glowstone=mekanism:nugget_refined_glowstone
forge:nuggets/osmium=mekanism:nugget_osmium
# Immersive Engineering
forge:nuggets/steel=immersiveengineering:nugget_steel

# Ingots
# Thermal
forge:ingots/copper=thermal:copper_ingot
forge:ingots/tin=thermal:tin_ingot
forge:ingots/lead=thermal:lead_ingot
forge:ingots/silver=thermal:silver_ingot
forge:ingots/nickel=thermal:nickel_ingot
forge:ingots/bronze=thermal:bronze_ingot
forge:ingots/electrum=thermal:electrum_ingot
forge:ingots/invar=thermal:invar_ingot
forge:ingots/constantan=thermal:constantan_ingot
forge:ingots/signalum=thermal:signalum_ingot
forge:ingots/lumium=thermal:lumium_ingot
forge:ingots/enderium=thermal:enderium_ingot
# Mekanism
forge:ingots/refined_obsidian=mekanism:ingot_refined_obsidian
forge:ingots/refined_glowstone=mekanism:ingot_refined_glowstone
forge:ingots/osmium=mekanism:ingot_osmium
forge:ingots/uranium=mekanism:ingot_uranium
# Immersive Engineering
forge:ingots/steel=immersiveengineering:ingot_steel
forge:ingots/hop_graphite=immersiveengineering:ingot_hop_graphite
forge:ingots/aluminum=immersiveengineering:ingot_aluminum
# Botania
forge:ingots/manasteel=botania:manasteel_ingot
forge:ingots/terrasteel=botania:terrasteel_ingot
forge:ingots/elementium=botania:elementium_ingot
# Blood Magic
forge:ingots/hellforged=bloodmagic:ingot_hellforged
# Minecraft
forge:ingots/iron=minecraft:iron_ingot
forge:ingots/gold=minecraft:gold_ingot
forge:ingots/netherite=minecraft:netherite_ingot
forge:ingots/brick=minecraft:brick
forge:ingots/nether_brick=minecraft:nether_brick

# Rods
forge:rods/iron=immersiveengineering:stick_iron
forge:rods/steel=immersiveengineering:stick_steel
forge:rods/aluminum=immersiveengineering:stick_aluminum
forge:rods/plastic=mekanism:hdpe_stick

# Blocks
# Thermal
forge:storage_blocks/charcoal=thermal:charcoal_block
forge:storage_blocks/gunpowder=thermal:gunpowder_block
forge:storage_blocks/sugar_cane=thermal:sugar_cane_block
forge:storage_blocks/bamboo=thermal:bamboo_block
forge:storage_blocks/apatite=thermal:apatite_block
forge:storage_blocks/cinnabar=thermal:cinnabar_block
forge:storage_blocks/niter=thermal:niter_block
forge:storage_blocks/sulfur=thermal:sulfur_block
forge:storage_blocks/copper=thermal:copper_block
forge:storage_blocks/tin=thermal:tin_block
forge:storage_blocks/lead=thermal:lead_block
forge:storage_blocks/silver=thermal:silver_block
forge:storage_blocks/nickel=thermal:nickel_block
forge:storage_blocks/bronze=thermal:bronze_block
forge:storage_blocks/electrum=thermal:electrum_block
forge:storage_blocks/invar=thermal:invar_block
forge:storage_blocks/constantan=thermal:constantan_block
forge:storage_blocks/signalum=thermal:signalum_block
forge:storage_blocks/lumium=thermal:lumium_block
forge:storage_blocks/enderium=thermal:enderium_block
forge:storage_blocks/bitumen=thermal:bitumen_block
forge:storage_blocks/tar=thermal:tar_block
forge:storage_blocks/slag=thermal:slag_block
# Immersive Engineering
forge:storage_blocks/steel=immersiveengineering:storage_steel
forge:storage_blocks/coal_coke=immersiveengineering:coke
# Mekanism
forge:storage_blocks/osmium=mekanism:block_osmium
forge:storage_blocks/uranium=mekanism:block_uranium
forge:storage_blocks/refined_obsidian=mekanism:block_refined_obsidian
forge:storage_blocks/refined_glowstone=mekanism:block_refined_glowstone
# Botania
forge:storage_blocks/manasteel=botania:manasteel_block
forge:storage_blocks/terrasteel=botania:terrasteel_block
forge:storage_blocks/elementium=botania:elementium_block

