# Configuration file

client {
    B:disableMod=false
    B:enableAllDirs=false
    B:enableBuildCheck=true
    B:enableDoubleTap=false
    B:enableUpdateNotifications=true
    B:flyOnGround=true
    I:flySpeedBoost=7
    S:keyModOptionsMenu=NONE
    S:keyModSneakToggle=NONE
    S:keyModSprintHold=NONE
    S:keyModSprintToggle=NONE
    I:keyOptionsMenu=24
    I:keySneakToggle=21
    I:keySprintHold=29
    I:keySprintToggle=34
    S:sprintKeyMode=TAP
}


server {
    B:disableClientMod=false
    B:enableAllDirs=false
    B:enableSurvivalFlyBoost=false
}


