# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=1
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=♪ Here comes the Sun! ♫ Do do do dooo!
    S:OnSleepText=
    S:OnWakeText=
    I:SleeperPerc=1
}


